<h1>Dashboard</h1>
<p>There are currently <%= link_to @num_of_products, [:admin, :products] %> products </p>
<p>There are currently <%= link_to @num_of_categories, [:admin, :categories]%> categories of products</p>
